# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
csv_dataset = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipo = pd.read_csv(csv_dataset, sep="\t")

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [5]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [6]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [7]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [8]:
# Raggruppo il DF per "item_name" e sommo le colonne numeriche.
# Ne deriva un nuovo DF che metto in ordine di "quantity".
# Di questo DF stampo la prima voce
most_ordered = chipo.groupby(by="item_name").sum().sort_values(by="quantity", ascending=False).head(1)

most_ordered

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [9]:
most_ordered.quantity

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [10]:
# Come il precedente ma utilizzo l'ordinamento di default (ascendente) e 
# ho stampato l'ultimo elemento (tail(1))
chipo.groupby(by="choice_description").sum().sort_values(by="quantity").tail(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [11]:
# Do un'occhiata al DF per capire meglio cosa si intende per "totale"
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [12]:
# sommo le quantita' ordinate
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [13]:
chipo.item_price.dtypes
# L'item_price e' un oggetto di tipo "Object". Non e' un numero

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [14]:
my_lambda_funct = lambda x: float(x.strip("$"))

In [15]:

def my_lambda_funct(x):
    return float(x.strip("$"))

In [16]:
my_lambda_funct("$2.39")

2.39

In [17]:
# applico la funzione appena scritta usando `apply` in maniera automatica a tutta la colonna:
# chipo.item_price.apply(my_lambda_funct)

# Attenzione se non assegno la precedente alla colonna stessa che subisce la funzione
# il DF non cambia. Devo scriverla cosi': 
# chipo.item_price = chipo.item_price.apply(my_lambda_funct)

# Tipicamente la lambda non viene definita a parte, ma direttamente dentro all'apply:
chipo.item_price = chipo.item_price.apply(lambda x: float(x.strip("$")))

#### Step 13.c. Check the item price type

In [18]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [19]:
# Diamo u'occhaita al DF cercando di capire se l'item_price e' unitario o cumilativo
# stampo una selezione di chipo filtrata con quantita' maggiori di 1:
chipo[chipo.quantity > 1]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
18,9,2,Canned Soda,[Sprite],2.18
51,23,2,Canned Soda,[Mountain Dew],2.18
135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",22.50
148,67,2,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",17.98
...,...,...,...,...,...
4491,1786,4,Canned Soft Drink,[Sprite],5.00
4499,1789,2,Canned Soft Drink,[Coke],2.50
4560,1812,2,Canned Soft Drink,[Coke],2.50
4561,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",17.50
4582,1822,2,Bottled Water,NaN,3.00

In [20]:
chipo.item_price.sum()

34500.16

In [21]:
# Se ipotizziamo che il prezzo non sia stato gia' moltiplicato per la quantita':
total_price = chipo.item_price * chipo.quantity
total_price.sum()

39237.02

In [22]:
chipo["total_price"] = total_price

In [23]:
chipo

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

### Step 15. How many orders were made in the period?

In [24]:
total_orders = chipo.order_id.max()
total_orders

1834

### Step 16. What is the average revenue amount per order?

In [25]:
# Solution 1 divido banalmente la somma dei prezzi totali e divido
# per il numero totale degli ordini che ho calcolato prima

total_price.sum() / total_orders

21.39423118865867

In [26]:
# Solution 2: raggruppo il DF per order_id e sommo le colonne numeriche, e sulla colonna
# total_price faccio la media:
chipo.groupby("order_id").sum().total_price.mean()

21.394231188658654

### Step 17. How many different items are sold?

In [27]:
# Do' un'occhiata al DF per capire bene quale e' la richiesta:
chipo.sample(15)

,order_id,quantity,item_name,choice_description,item_price,total_price
4460,1778,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese]]",8.75,8.75
676,279,1,Chips and Guacamole,NaN,4.00,4.00
37,18,1,Chips and Guacamole,NaN,4.45,4.45
312,135,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,8.75
2984,1188,1,Chicken Bowl,"[Fresh Tomato Salsa, [Sour Cream, Fajita Veget...",11.25,11.25
3330,1333,1,Canned Soft Drink,[Sprite],1.25,1.25
3032,1206,1,Chips and Guacamole,NaN,4.45,4.45
2055,828,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1030,424,1,Canned Soda,[Diet Dr. Pepper],1.09,1.09
819,338,1,Chips and Guacamole,NaN,3.99,3.99
3746,1498,1,Chips and Guacamole,NaN,4.45,4.45
2243,904,1,Barbacoa Burrito,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",8.99,8.99
3219,1287,1,Chips and Guacamole,NaN,4.45,4.45
4232,1690,2,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",18.50,37.00
1341,548,1,Carnitas Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",11.75,11.75

In [28]:
# Sol.1 : Raggruppo per item_name e sommo. Del dataframe risultante conto le righe:
chipo.groupby("item_name").sum().shape[0]

50

In [29]:
chipo.item_name.nunique()

50

In [30]:
chipo.item_name.value_counts().shape[0]

50