# Decision Making: La struttura *if*

## Operatori di confronto: 
* \>
* \<
* \>=
* \<=
* \==
* \!= 

** Attenzione non confondere l'operatore di confronto "==" con l'operatore di assegnazione "=".

In [1]:
5 > 6

False

In [2]:
5 < 6

True

In [3]:
5 < 5

False

In [4]:
5 <= 5

True

In [5]:
5 >= 5

True

In [6]:
5 == 5

True

In [7]:
5 = 5

SyntaxError: cannot assign to literal (<ipython-input-7-fd606e25f666>, line 1)

In [8]:
5 != 6

True

In [13]:
4 < 5 < 6

False

## Struttura *if*:

if \<condizione\>: <br>
\<tab\> *se vero*
else:

In [18]:
a = 7

if a==5:
    print("a e' uguale a 5")
    print("lo stampo solo se a e' uguale a 5")
    
print("Questa riga viene stampata sempre")

Questa riga viene stampata sempre

In [19]:

if a==5:
    print("a e' uguale a 5")
    print("lo stampo solo se a e' uguale a 5")
else:
    print("a non e' uguale a 5, ma a =", a)
    
print("Questa riga viene stampata sempre")

a non e' uguale a 5, ma a = 7
Questa riga viene stampata sempre

In [31]:
run confrontoValori.py

Questo script esegue il confronto tra due numeri a e b.
Ora inseriamo i valori di a e b:
Inserisci il valore di a: 5
Insersci il valore di b: 7
a e' minore di b
a e' minore o uguale a b
a e' diverso a b

In [ ]:
if a > b:
    print("a e' maggiore di b")
else:
    if a == b:
        print("a e' uguale a b")
    else:
        if a < b:
            print("a e' minore  a b")
        else:
            if a == b:
                print("a e' maggiore o uguale a b")

In [ ]:
if a > b:
    print("a e' maggiore di b")
if a == b:
    print("a e' uguale a b")
if a < b:
    print("a e' minore  a b")
elif a == b:
    print("a e' maggiore o uguale a b")

In [36]:
# Scrivere uno scriptino che calcoli la media, il valore minimo e 
# il valore massimo, di tre valori di tipo float chiesti in input

In [37]:
min(3,4,6)

3

In [39]:
a = 123.45

In [41]:
print(f"{a:.20f}")

123.45000000000000284217

In [42]:
a = b = 7

In [43]:
a

7

In [44]:
b

7

## Confronto tra litterals

In [52]:
"a" == "A"

False

In [58]:
"a" > "A"

True

In [62]:
"albero" > "Cane"

True

In [60]:
"cane" > "dado"

False

In [61]:
"cane" > "ca"

True

In [63]:
"57" < "6"

True

In [91]:
2**21

2097152

In [67]:
ർ = 45

In [75]:
ord("ർ")

3452

In [73]:
ord("2")

50

## Operatori Booleani

* and --> Restituisce True se entrambi gli ingressi sono *True*
    - True and True = True
    - True and False = False
    - False and True = False
    - False and False = False
* or --> Restituisce True se almeno uno degli ingressi e' *True*
    - True or True = True
    - True or False = True
    - False or True = True
    - False or False = False
* not --> Restituisce True se l'ingresso e' False e vicersa
    - not True = False
    - not False = True

In [94]:
True and True

True

In [95]:
True and False

False

In [96]:
True or True

True

In [97]:
True or False

True

In [98]:
1 and 1

1

In [99]:
1 and 0

0

In [100]:
True == 1

True

In [105]:
(4 < 3) and 5

False

In [106]:
not ( 4 < 3 )

True

## Ciclo While: <br>
Ciclo iterativo che viene svolto sintantoche' la condizione risulta verificata: <br>

while \<condizione\>: <br>
\<tab\> finche vero fai:

In [117]:
# inizializzo la variabile di controllo
x = 0

# inizio il ciclo while
while x < 10:
    print(x)
    # assegna a x il valore che ha x stesso piu' 1
    # x = x + 1 
    x += 1

print("Fine ciclo")

0
1
2
3
4
5
6
7
8
9
Fine ciclo

### continue e break

In [116]:
# inizializzo la variabile di controllo
x = 0

# inizio il ciclo while
while x < 10:
    if x == 5:
        break
    print(x)
    # assegna a x il valore che ha x stesso piu' 1
    # x = x + 1 
    x += 1
    
print("Fine ciclo")

0
1
2
3
4
Fine ciclo

In [121]:
# inizializzo la variabile di controllo
x = 0

# inizio il ciclo while
while x < 10:
    if x == 5:
        x = 7
        continue
    print(x)
    # assegna a x il valore che ha x stesso piu' 1
    # x = x + 1 
    x += 1
    
print("Fine ciclo")

0
1
2
3
4
7
8
9
Fine ciclo

## Ciclo *for*

In [122]:
for j in [1,2,3,4,5]:
    print(j)

1
2
3
4
5

In [124]:
for j in [1,"2",3.2134,"casa",ord("3"), x+3]:
    print(j)

1
2
3.2134
casa
51
13

In [155]:
for j in range(5):
    print(j, end="\t")

0	1	2	3	4

In [129]:
for j in range(5, 10):
    print(j)

5
6
7
8
9

In [140]:
for j in range(1,10):
    if j == 3:
        break
    print(j)

1
2

In [141]:
for j in range(1,10):
    if j == 3:
        continue
    print(j)

1
2
4
5
6
7
8
9

### Esercizio:
Costriuire la tavola pitagorica da 1 a 10

* Costruire la tabellina del 2 e stamparla su una riga ocn separatore: \t

In [149]:
print(1,2,3, sep="")
print(4)

123
4

In [189]:
for k in range(1, 14):
    for j in range(1, 14):
        print(f"{j * k:.1f}", end = "\t")
#     if j * k == 100:
#         break
    print("")

1.0	2.0	3.0	4.0	5.0	6.0	7.0	8.0	9.0	10.0	11.0	12.0	13.0
2.0	4.0	6.0	8.0	10.0	12.0	14.0	16.0	18.0	20.0	22.0	24.0	26.0
3.0	6.0	9.0	12.0	15.0	18.0	21.0	24.0	27.0	30.0	33.0	36.0	39.0
4.0	8.0	12.0	16.0	20.0	24.0	28.0	32.0	36.0	40.0	44.0	48.0	52.0
5.0	10.0	15.0	20.0	25.0	30.0	35.0	40.0	45.0	50.0	55.0	60.0	65.0
6.0	12.0	18.0	24.0	30.0	36.0	42.0	48.0	54.0	60.0	66.0	72.0	78.0
7.0	14.0	21.0	28.0	35.0	42.0	49.0	56.0	63.0	70.0	77.0	84.0	91.0
8.0	16.0	24.0	32.0	40.0	48.0	56.0	64.0	72.0	80.0	88.0	96.0	104.0
9.0	18.0	27.0	36.0	45.0	54.0	63.0	72.0	81.0	90.0	99.0	108.0	117.0
10.0	20.0	30.0	40.0	50.0	60.0	70.0	80.0	90.0	100.0	110.0	120.0	130.0
11.0	22.0	33.0	44.0	55.0	66.0	77.0	88.0	99.0	110.0	121.0	132.0	143.0
12.0	24.0	36.0	48.0	60.0	72.0	84.0	96.0	108.0	120.0	132.0	144.0	156.0
13.0	26.0	39.0	52.0	65.0	78.0	91.0	104.0	117.0	130.0	143.0	156.0	169.0

### Formatted Strings

In [171]:
print("j = ", j,",k = ", k)

j =  13 ,k =  13

In [174]:
print(f"j = {j}, k = {k**2}")

j = 13, k = 169

In [187]:
print(f"j = {(j*k):.4f}")

j = 169.0000